img{
    width: 20%
  }
  
  #main-container {
    align: center;
    text-align: center;
    background-color: yellow;
    font-family: fantasy;
    color: blue;
    height: 40px;    
  }
  body {
    background-color: red;
  color: white;
  font-family: georgia;}
  
  .moving{
    animation: mover 2s infinite;
  }
  @keyframes mover{
    80%{padding-left: 350px;} 
    100%{padding-left: 450px;}
    
    
  }
  h1 {color: #0000b3;
  text-shadow: 1px 1px 5px #000
  }
  
  