body {
    width: 100%;
    height: 100%;
    position: fixed;
}

button{
    font-size: 28px;
    text-decoration: underline;
}

#kevin_image{
    height: 800px;
    width: 900px;
}

.content {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 40px;
    color: #ecf0f1;
}

p{
    font-size: 8px;
}